body {
  background: #010e16 url('../images/bg.jpg') no-repeat top center;
  background-size: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
}

#header {
  height: 120px;
  background: #00141b;
  padding: 6px 6px 0 15px;
  margin-top: 15px;
  box-sizing: border-box;
  border-top: 4px solid #1eb3ef;
  border-radius: 6px;
}

#content {
  margin-top: 20px;
  padding: 0 10px;
}

.header {
  height: 44px;
}

main,
#sidebar {
  background: #001d29;
  border-radius: 6px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h4 {
  background: #00141b;
  padding-left: 20px;
  line-height: 44px;
}

.list-group-item {
  background: transparent;
  border: none;
}

#question-detail {
  padding: 15px;
}

#question-voting {
  float: left;
  text-align: center;
  width: 75px;
  margin-bottom: 30px;
  color: #aaa;
  font-size: 24px;
}

#question-voting p {
  padding-top: 6px;
  font-size: 9px;
}

#question-voting > div {
  display: inline-block;
  cursor: pointer;
  padding: 8px 30px 8px 15px;
}

#question-voting > div.active {
  color: lightblue;
}

article {
  margin: 8px;
  border: 1px solid #5d91a3;
  border-radius: 4px;
}

.totals {
  text-align: center;
  display: table;
  min-height: 100px;
}

.totals .row {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  main {
    width: 30% !important;
    margin-right: 3% !important;
  }
}
